pre {
    font-size: 1.3em;
}
a {
    color: #848484;
}

.side-bar {
    background-color: #ffffff;
}

.main-header {
    background-color: #ffffff;
}

div.highlighter-rouge {
    background-color: #ffffff;
}

code {
    background-color: #ffffff;
}
